<div id="detail_table">
    <script type="text/javascript">
         $(function(){
        	 $('.field_value_select').bind('change', save_field_value);
             $('.common_field').bind('change', save_input_field);
             $(".fold_group").bind('click', fold_group);
             $(".add_group").bind('click', add_new_group);
             $("#tabs").tabs();
             $("#datatabs").tabs();
         });
     </script>  
    <div id="lead-tabs-container"> 
        <h3>{{lead}}</h3>
	    <div id="tabs" style="overflow:auto;position:relative;">
			<ul>
			  <li><a href="#tabs-1"><span>Contact details</span></a></li>
			  <li><a href="#tabs-2"><span>MOSS</span></a></li>
			  <li><a href="#tabs-3"><span>History</span></a></li>
			  
			</ul>
		
			<div id="tabs-1">
			    <form id="delete_action_form" action="/lead/delete" method="post">
			    {% csrf_token %}
			     <input type="hidden" name="lead_id" value="{{lead.id}}"/>
			     <input type="submit" value="Delete lead"/>
			    </form> 
				{% include "contact_details.html" %}
			</div>
			
			<div id="tabs-2">
               {% include "group_tree.html" %}
            </div>
			
			<div id="tabs-3">
			   {% if lead.transactions.all %}  
			   <ul>
			       {% for t in lead.transactions.all %}
			           <li>{{t}}</li>
			       {% endfor %}
			   </ul>
			   {% else %}
			     <p>There is no history yet...</p>
			   {% endif %}
			</div>
		</div>
	</div>

	 
</div>
