{% extends "base.html" %}

{% block pagescripts %}
<script type="text/javascript" src="{{MEDIA_URL}}js/edit_form.js"></script> 
{% endblock %}

{% block parentmenu%}Lead Manager&nbsp;/&nbsp;{% endblock %}{% block menu%}<a href="/files">File manager</a>{%endblock%}
{% block pagetitle%}<h1>Lead Manager</h1>{% endblock %}
{% block content %}
        <a href="/lead/moss/new">Add new</a>
	    <table style="border: 1px dashed gray">
	        <tr>
	            <th style="border-bottom-style:dashed; border-bottom-width: 1px;text-align: left">Niche</th>
	            <th style="border-bottom-style:dashed; border-bottom-width: 1px;">Lead Source</th>
	            <th style="border-bottom-style:dashed; border-bottom-width: 1px;">Date</th>
	            <th style="border-bottom-style:dashed; border-bottom-width: 1px;">Leads, qty</th>
	            <th style="border-bottom-style:dashed; border-bottom-width: 1px;">Revenue</th>
	        </tr>
	        {% if leads_by_day %}
		        {% for entry in leads_by_day %}
		        <tr style="border: 1px dashed gray">
		            <td>{{entry.niche}}</td>
		            <td>{{entry.source}}</td>
		            <td style="text-align: right;"><a class="lead_data" href="leads/{{entry.date|date:"Y-m-d"}}">{{entry.date|date:"SHORT_DATE_FORMAT"}}</a></td>
		            <td style="text-align: center;">{{entry.leads}}</td>
		            <td style="text-align: center;">{{entry.revenue}}</td>
		        </tr>    
		        {% endfor %}
		        <tr>
	                <td colspan="3" class="total">Total</td>
	                <td class="total" style="text-align: center;">{{nleads}}</td>
	                <td colspan="2" style="text-align: center;" class="total">{{revenue}}</td>
	                
	            </tr>    
	        {% endif %}    
	    </table>
	    <script type="text/javascript"> 
        $(document).ready(function() {
            $(".lead_data").fancybox();
        });
            
</script>
{% endblock %}