{% extends "base.html" %}
{% block pagescripts %} 
<script type="text/javascript">
    $(function(){
    	function save_field_value(){
            var val = $(this).val();
            if (val<0){ 
                return false;
            }   
            var arr = val.split('_');
            
            $.ajax({
                type        : "POST",
                cache   : false,
                url     : '/lead/moss/ufld',
                data    : 'field='+arr[0]+'&value='+arr[1],
                success: function(data) {
                   if(data.code=='OK'){
                       $('#icon_'+arr[0]).html('<img src="/static/icons/package-install.png"/>');
                       $('#icon_'+arr[0]).show();
                       if (data.is_complete){
                       }
                   }else{
                       $('#icon_'+arr[0]).css('width:100px').html('<strong>data.message</strong>');
                       $('#icon_'+arr[0]).show();
                   }
                },
            },'json'); 
            return false;
        };
    	
        $('.field_value_select').bind('change', save_field_value);
        
        // $(".field_groups").hide();
        $(".fold_group").bind('click', function(){
        	var $field_groups = $(this).next().next().next();
        	$field_groups.slideToggle('slow');
        	/*
        	if($field_groups.is(":visible")){
        		$field_groups.hide();
        		$(this).text('+');
        	}else{
        		$field_groups.show();
        		$(this).text('-');
        	}*/
        	return false;
        });
        $(".add_group").bind('click', function(){
            var $field_groups = $(this).next(".field_groups").get(0);
            var fg_visible = $field_groups.is(":visible");
            $.ajax({
            	 type        : "POST",
                 cache   : false,
                 url     : $(this).attr('href'),
                 success: function(data) {
                   	$field_groups.append(data);         
                   	$('.field_value_select').bind('change', save_field_value);
                   	if(!fg_visible) $field_groups.show(); 	
                 }   
            });
        });
    });
</script>  
{% endblock %}

{% block parentmenu%}<a href="/">Lead Dashboard</a>&nbsp;/&nbsp;{% endblock %}{% block menu%}{%endblock%}

{% block pagetitle%}
	{% if lead %}
		<h1>Edit lead {{lead}}</h1>
		{% else%}
		<h1>New lead</h1>
	{% endif %}
{% endblock %}

{% block content %}

{% if error %}
    <div align="center" style="background-color: #ca373b; color: white;">{{error}}</p></div>
{% endif %}
<form method="post" action="/lead/moss/new">
{% csrf_token %}
{% if lead %}
<input type="hidden" name="lead_id" value="{{lead.id}}"/>
{% endif %}
<table>
{{form}}
</table>
    
<div style="float: left; display: block;width: 40%">
	
	 
	<table>
	     
		{% for entry, options in titles %}
		    
		    {% ifchanged entry.partof %}
		          {% if entry.partof %}
		              <tr><td style="background-color: silver;color: white;font-weight: bold;" colspan="2">{{entry.partof}}</td></tr>
		          {% else %}
			         <tr><td style="background-color: silver;color: white;font-weight: bold;" colspan="2">Others</td></tr>
			      {% endif%}
		    {% endifchanged%}  
		      
		    <tr>
			    <td style="background-color: #eee;" width="20%">
			    <span style="{% if entry.required %}font-weight: bold{%endif%}">{{entry.field.name}}</span></td>
			    <td style="background-color: #eee;" width="80%">
			     {% if entry.is_input %}
			         <input name="{{entry.field.name}}" type="text" size="12" value="{% if entry.value %}{{entry.value}}{% endif %}"/>
			     {% endif%}
			     {% if entry.is_dropdown %}
			         <select name="{%if lead%}{{entry.field.id}}{%else%}{{entry.field.name}}{%endif%}" {%if lead%}class="field_value_select" style="display:block; float:left;"{% endif%}>
		             <option value="-1">Please select...</option>    
		             {% for optval in options %}
		                 <option 
		                     {% if optval == entry.value %}selected="selected"{% endif %}  
		                     value="{%if lead%}{{entry.id}}_{%endif%}{{optval}}">{{optval}}
		                 </option>
		             {% endfor %}
		             </select>
		             {% if lead %}
		             <div id="icon_{{entry.id}}" style="display:none; width:16px; height:16px; float:left; margin-left:6px; margin-top:2px;"></div>
		             {% endif %}
			     {% endif%}
			    </td>
		    </tr>
		    
		{% endfor %}
	</table>
	{% if lead %}
	    <input type="submit" value="Validate and create new"/>
	{% else %}
	    <input type="submit" value="Submit"/>
	{% endif %}
	
		
</div>
</form>
<div style="float: left; display: block; width: 59%; margin-left: 10px;">
{% if lead %}
	{% for group, entries in subgroups %}
	   <div>
	   <a class ="fold_group" href="">-</a>
        <span class="group_name" style="background-color: silver;color: white;font-weight: bold;" >{{group.name}}</span>&nbsp;
        &nbsp;<a class ="add_group" href="/lead/new_group/{{group.id}}">Add</a>
        <div class="field_groups">
	   <table>
	   {% for entry, options in entries %}
	   <tr style="border: 1px dashed silver;">
		 <td width="20%">{{entry.field.name}}</td>
		 <td width="80%">
		      {% if entry.is_input %}
                  <input name="{{entry.field.name}}" type="text" size="12" value="{% if entry.value %}{{entry.value}}{% endif %}"/>
              {% endif%} 
              {% if entry.is_dropdown %}
			 <div>
			 <select name="{{entry.field.id}}" class="field_value_select" style="display:block; float:left;">
			 <option value="-1">Please select...</option>    
			 {% for optval in options %}
			     <option 
			         {% if optval == entry.value %}selected="selected"{% endif %}  
			         value="{{entry.id}}_{{optval}}">{{optval}}
			     </option>
			 {% endfor %}
			 </select>
			 <div id="icon_{{entry.id}}" style="display:none; width:16px; height:16px; float:left; margin-left:6px; margin-top:2px;"></div>
			 </div>
			 {% endif %}
		 </td>
	   </tr>
	   {% endfor %}
	   </table>
	   </div>
    </div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}