<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Lead Manager</title>
		
		{% block mainhead %}
		 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/cupertino/jquery-ui.css" type="text/css" rel="Stylesheet" />
		<link rel="stylesheet" href="/static/ext/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
		 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script type="text/javascript" src="/static/ext/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
		{% endblock %}
		
		{% block pagescripts %} {% endblock %}
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
	</head>
	<body>
		<div style="float:left">
		{% block parentmenu%}{% endblock %}{% block menu%}{%endblock%}
		</div>
		<div style="float:right"><a href="/admin/">Settings</a></div>
		<br/>
		
		{% block pagetitle%} {% endblock %}
		{% block content %} {% endblock%}
	</body>
</html>